{% extends "/layouts/base.twig" %}
{% block content %}
    {% include "/elements/header.twig" %}
    <header id="canvas-container">
        <div class="parallax-picture all-bg">
            <div class="top_pic">
                <article id="recommend-pic" class="parallax-pic_inner">
                    <h1>研修として社員を参加させたい</h1>
                    <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
                        <defs>
                            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
                        </defs>
                        <g class="parallax">
                            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
                        </g>
                    </svg>
                </article>
            </div>
        </div>
    </header>
    <article id="page-wrapper">
        <hr class="style-hr">
        <div class="container">
               <div class="row">
                      <!-- Content -->
                      <div class="col-md-9 page-style">
            <section class="page-content">
                <article class="company_content">
                    <img class="img-responsive" src={{asset('/img/subsidy_3.jpg')}} alt=""/>

                    <h2 class="style-2">助成金を利用する</h2>
                    <p class="lead">ITブートキャンプの研修に助成金を利用することが可能です。
                    </p>
                    <p>助成金を活用することで、実質0円で受講することが可能です。助成金申請のサポートもある為、面倒な申請もご安心ください。
                    </p>

                    <h3>利用できる助成金シミュレーション</h3>
                    <p class="lead">■ フロントエンドエンジニアコース（Webサイト制作＆管理、Webデザイン）
                    </p>

                    <h5>◎通い型（社員様が実際に通って研修に参加）で1名参加の場合<br>
                        224時間〜 授業料1人290,000円（税抜）</h5>
                    <p>研修費：290,000円<br>
                        経費助成（授業料の半額支給）145,000円＋賃金助成（時給800円）× 224時間
                        <span class="block">＝324,200円 支給</span>

                    </p>

                    <h5>◎ 派遣型（講師を派遣し、社内で研修を受講）で5名参加の場合<br>
                        313時間〜 授業料1人500,000円（税抜）</h5>
                    <p>研修費：2,500,000円<br>
                        経費助成（授業料の半額）250,000円＋賃金助成（時給800円）× 313時間 × 5名<span class="block">＝ 合計 2,502,000円 支給</span>
                    </p>
                    <p class="txt-14">※研修時間により研修費用よりも助成額が若干上回る場合がございます。
                    </p>

                    <h2>こんな企業様におすすめです</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <h4>外注費を抑えたい</h4>
                            <p>情報の更新や画像の変更、タグ設置やバナーの制作を全て内製化することで、これまでにかかっていた外注費用を削減することが可能です。<br/>
                                また、修正や変更も社内で行うことで、PDCAの改善サイクルのスピードも早めることが可能です。
                            </p>

                            <h4>社員にホームページの管理を任せたい</h4>
                            <p>Photoshop / Illustrator / HTML / CSS / コーディング / スマートフォン最適化 / Bootstrap / WordPress etc…<br/>
                                WEB制作会社で使用されている最先端の技術を習得できます。また、社員がスキルを身につけることで、Web制作会社とのコミュニケーションもスムーズになります。
                            </p>

                            <h4>Webサイトの制作・管理者を雇用したいが良い人材を獲得できるか不安</h4>
                            <p>せっかく費用をかけて採用してもすぐに辞めてしまったり、期待したほど活躍してくれないリスクがあります。社内の人をエンジニア化させるのが、最もローコストかつローリスクです。
                            </p>
                        </div>
                    </div>

                    <hr>

                    <!-- company_col1-1 -->
                    <div class="company_col">
                        <h3>１：企業にとってのITブートキャンプ（IBC）の必要性</h3>
                        <h4>1-1 . なぜ、社内にWeb￼サイトの制作・管理者を育成しなければならないのか?<br>
                            <small>制作会社に丸投げではいけないのか?</small>
                        </h4>
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                                <img class="img-responsive necessity-circle" src={{asset('/img/necessity-01.jpg')}} alt=""/>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <p>お客様の層や商圏を広げてビジネスを成長させるために、会社の顔とも言えるWebサイトをこれまで以上に魅力的なものにする必要があります。その為に、タイムリーな情報の更新や、より効果のある表現の追求などを常に行う必要があります。<br/>
                                    その時、必要になってくるのが、新しい技術であるWebの技術の習得です。<br/>
                                    Web制作は決して難しいスキルではありません。学びさえすれば誰でも実務家になることができます。Web制作を外注し続ける限り無駄なコストが発生し続けるため、企業は内製化することが本来適切です。企業規模にもよりますが、経理や総務を外注しないことに等しいと考えられます。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col1-1 -->

                    <!-- company_col1-2 -->
                    <div class="company_col">
                        <h4>1-2 . Webサイトの制作・管理者が社内に存在することのメリットとその効果<br>
                            <small>デジタルマーケティングの展開</small>
                        </h4>
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                                <img class="img-responsive necessity-circle" src={{asset('/img/necessity-02.jpg')}} alt=""/>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <p>社内にエンジニアがいることで、自社サイトを迅速に変更、更新することができます。<br/>
                                    また、集客ツールとしてのWebサイトを活用できるようになります。例えば、SEO対策に有効と言われているWordPressというブログシステムを導入し、更新頻度を高めることで自社サイトの検索順位を上位に表示させやすくすることができます。<br/>
                                    また、採用においても、応募者の96%はその企業のホームページを閲覧するといわれており、応募者に向けて自社の魅力をアピールすることで、応募率、採用率の改善にも役立てることが可能です。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col1-2 -->

                    <!-- company_col2-1 -->
                    <div class="company_col">
                        <h3>2：IBCについて</h3>
                        <h4>2-1 . 教育方法</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>カリキュラムを個別ですすめる個別学習方式です。わからないところを講師またはメンターに質問し、理解を深めます。 自ら「調べる」能力も育成し、卒業後も自らの力で成長できる人材に育成します。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col2-1 -->

                    <!-- company_col2-2 -->
                    <div class="company_col">
                        <h4>2-2 . IBCで得られる成果</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>Webサイトを0から1人で制作することができようになります。WordPressを導入することで、更新機能を持たせたサイトを作成することも可能になります。イラストレーターやフォトショップを利用することで、バナーを作成することも可能です。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col2-2 -->

                    <!-- company_col2-3 -->
                    <div class="company_col">
                        <h4>2-3 . 受講対象</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>内勤の社員がおすすめですが、オンラインでもカリキュラムを受講することが可能なので、外出が多い営業の方も受講が可能です。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col2-3 -->

                    <!-- company_col2-4 -->
                    <div class="company_col">
                        <h4>2-4 . 『講師派遣型コース』など企業様別にカスタマイズが可能</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>教室に通っての受講が困難という企業様には、講師が直接企業様に訪問する『講師派遣型コース』のご案内を行っております。（人数応相談）受講スタイルや期間、研修内容に関しても企業様のご要望に合わせてカスタマイズが可能です。まずはご相談ください。
                                </p>
                                <table class="pale_purple" summary="受講スタイル">
                                    <caption>【選べる受講スタイル】</caption>
                                    <tbody>
                                        <tr>
                                            <th>教室受講型（通い）/（合宿）</th>
                                            <td>教室に通って受講、または期間中、現地に滞在して受講。</td>
                                        </tr>
                                        <tr>
                                            <th>オンライン型</th>
                                            <td>オンライン学習の場合は、助成金を受給できない可能性があります。</td>
                                        </tr>
                                        <tr>
                                            <th>講師派遣型</th>
                                            <td>講師が企業様に訪問。</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col2-4 -->

                    <!-- company_col2-5 -->
                    <div class="company_col">
                        <h4>2-5 . 他スクールとの違い</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h5>【各企業様に合わせた柔軟な研修内容と助成金の申請サポート】</h5>
                                <p>企業様に合わせて、研修内容、研修期間を柔軟にカスタマイズすることが可能です。<br/>
                                    また、助成金申請のサポートも可能なので、面倒な申請もご安心ください。
                                </p>
                                <img class="img-responsive mt-20" src={{asset('/img/difference_table.png')}} alt="他スクールとの違い"/>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col2-5 -->

                    <!-- company_col2-6 -->
                    <div class="company_col">
                        <h4>2-6 . 企業様の声</h4>

                        <h5>SEA Dream Company株式会社</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive mb-05" src={{asset('/img/ceo_ihara.jpg')}} alt="井原友数様">
                                <h5>
                                    <small>代表取締役</small><br>
                                    井原友数様</h5>
                                <div class="hyper">
                                    <a href="http://seadream.asia">http://seadream.asia</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6>【企業メッセージ】</h6>
                                <p>成長するSoutheastAsia(東南アジア諸国）。経済発展が続き、ASEAN経済共同体構想やASEAN自由貿易圏に向けて、オフショア拠点のみならず、その市場を捉える拠点として着目されています。<br/>
                                    私たちは経済成長著しい東南アジア諸国を拠点に、「教育」と「IT」分野で日本企業様のパートナーになれることを目指しています。
                                </p>
                                <h6>【参加目的】</h6>
                                <p>研修を受けてもらおうと考えた社員は、当時テスト・検証要因でした。弊社に勤務して2年。社員本人としてはエンジニアとして働くことを希望していました。そんな折、仙台にて新規プロジェクト参加が決まり、ジョブチェンジしようという方向に決まりました。<br/>
                                    そんなタイミングの中、ITブートキャンプの企業研修という情報を知りました。スキルアップのため、ITブートキャンプのコンセプトでもある、あえて社外で合宿型受講というスタイルで短期集中の修行をしてきて欲しかったんです。
                                </p>
                                <h6>【結果】</h6>
                                <p>現在、某大手企業に常駐しサイト運用に携わっています。<br/>
                                    コーディング・画像編集なども任せてもらっています。業務内容としては、ITブートキャンプで学んだ知識が生きていると感じますね。
                                </p>
                            </div>
                        </div>

                        <hr>

                        <h5>ファーエンドテクノロジー株式会社</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive mb-05" src={{asset('/img/ceo_maeda.jpg')}} alt="前田剛様">
                                <h5>
                                    <small>代表取締役</small><br>
                                    前田剛様</h5>
                                <div class="hyper">
                                    <a href="https://www.farend.co.jp/">https://www.farend.co.jp/</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6>【企業メッセージ】</h6>
                                <p>ファーエンドテクノロジーは、インターネット上の技術・知識を活用してより便利な社会の実現を目指してサービス提供を行う企業です。
                                </p>
                                <h6>【参加目的】</h6>
                                <p>研修に参加した社員は広報担当として自社で運営する複数のwebサイトの更新をしていました。CMSを使って更新・修正などしていましたが、デザインも含めて一人だけである程度の制作もできるようになるためにHTML・CSS・デザイン等の技術を身に付けてもらおうと考え、ITブートキャンプへの参加を決めました。参加までに少し時間があったため、HTML・CSSは予習をしていたようですが、Photoshopはまったく使ったことがない状態でした。
                                </p>
                                <h6>【結果】</h6>
                                <p>参加した石垣校にいる間に、自社サービスのランディングページを完成させました。会社にもどってから若干の修正はしたものの、1ヶ月後には公開しました。2週間でここまでスキルが向上するとは思っておらず、期待以上の成果でした。今後は、広報担当として活躍しながら、自社サイトの改善や新しい案件に取り組んでもらう予定です。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col2-6 -->

                    <!-- company_col3-1 -->
                    <div class="company_col">
                        <h3>3：アフターケア</h3>
                        <h4>3-1 . デジタル・マーケティングのサポート<br>
                            <small>修了生と共にマーケティング計画、フロントページ / ランディングページ作成支援</small>
                        </h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>IBCでの研修により得られたWebのスキルを更に活かすために、デジタルマーケティングについての経験を蓄積する必要があります。<br/>
                                    ITブートキャンプでは、修了生を対象に上級Web解析士によるコンサルティングも提供しています（有料オプション）。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col3-1 -->

                    <!-- company_col3-2 -->
                    <div class="company_col">
                        <h4>3-2 . 修了生コミュニティによるサポートや支援、人材調達</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>IBC修了生のための互助組織を準備しています。<br/>
                                    技術情報の交換、問題解決に向けた助言、及び、制作依頼などを交換する場を提供することで、修了生の自発的な成長を長期的に実現します。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col3-2 -->

                    <!-- company_col4-1 -->
                    <div class="company_col">
                        <h3>4：助成金申請／申請サポートについて</h3>
                        <h4>4-1 . 助成金を利用する</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h5>受給条件に合致していれば、原則100%受給が可能です。</h5>
                                <ul class="disc">
                                    <li class="txt-16">正社員を1名以上雇用している。</li>
                                    <li class="txt-16">雇用保険、社会保険を支払っている。<br>
                                        <small>※社員数5名未満の個人事業主は雇用保険のみでもOKです。</small>
                                    </li>
                                    <li class="txt-16">半年以内に会社都合の解雇をしていない。</li>
                                    <li class="txt-16">残業代の未払い等、労務違反を犯していない。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col4-1 -->

                    <!-- company_col4-2 -->
                    <div class="company_col">
                        <h4>4-2 . 利用する助成金について</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h5>ご利用頂ける助成金を複数ご用意しております。</h5>
                                <p>企業様の規模、業種に合わせた助成金をご案内しておりますので、まずは一度ご相談ください。
                                </p>

                                <hr>

                                <table class="pale_purple" summary="助成金例">
                                    <caption>【助成金例】</caption>
                                    <tbody>
                                        <tr>
                                            <th>支給対象となる訓練</th>
                                            <td>政策課題対応型訓練「成長分野等人材育成コース」</td>
                                        </tr>
                                        <tr>
                                            <th>支給内容</th>
                                            <td>賃金助成（1人1時間当たり800円） 経費助成1/2
                                                <span class="text-warning small">* 授業料の1/2支給</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>支給限度額</th>
                                            <td>20時間以上100時間未満：15万円 100時間以上200時間未満：30万円 1人1コース当たり7〜50万円です。<br>
                                                1事業所が1年度に受給出来る助成額は最大で500万円までです。</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- ./company_col4-2 -->

                    <!-- company_col4-3 -->
                    <div class="company_col">
                        <h4>4-3 . 申請サポート</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>助成金の申請書類作成のサポートが可能ですので、面倒な助成金申請をスムーズに進めることが可能です。<br/>
                                    既に多くの企業様が助成金を活用してITブートキャンプに参加しております。<br/>
                                    助成金申請を全てお任せしたい企業様には助成金の申請代行サービスのご紹介も可能です。
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col4-3 -->

                    <!-- company_col4-4 -->
                    <div class="company_col">
                        <h4>4-4 . 労務条件上の留意点</h4>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p>詳しくはお問い合わせください。<br/>
                                    下記を参照
                                </p>
                                <p>※各雇用関係助成金に共通の要件等（厚生労働省HP内）<br/>
                                    <small class="hyper">
                                        <a href="http://www.mhlw.go.jp/seisakunitsuite/bunya/koyou_roudou/koyou/kyufukin/dl/kyoutsuu_youken.pdf">http://www.mhlw.go.jp/seisakunitsuite/bunya/koyou_roudou/koyou/kyufukin/dl/kyoutsuu_youken.pdf</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./company_col4-4 -->

                    <hr>

                    <h3>お問い合わせフォーム</h3>
                    <p class="lead">助成金に関しての詳細は下記よりお問い合わせ下さい。
                    </p>

                    <hr>{% include "/elements/form_company.twig" %}<br>
                    <hr>
                    <p>
                        LINE@ LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！
                    </p>
                </article>
            </section>

        </div>
        <div class="col-md-3">
          {% include "/elements/sidebar.twig" %}
        </div>
      </div>
    </article>

    <!-- COMPANY -->

{% endblock %}
