{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<header id="canvas-container">
  <div class="parallax-picture  all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>ユーザーグループ詳細</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->

<!-- 固定ページテンプレート -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <!-- pタグ自動挿入制御 -->
    <article class="company_content">
      <div class="row">
        <div class="col-sm-3">
          {% include "/elements/admin_left_column.twig" %}
        </div>
        <div class="col-sm-9">
          <div class="panel panel-default">
            <div class=panel-body>
              <h2>{{user_group_data['user_group_name']}}</h2>
              <hr>
              <h4>所属ユーザー</h4>
              <ul>
              {% for group_user_data in group_user_data_list %}
              <li><a href="/admin/user/{{group_user_data['user_id']}}">{{group_user_data["user_name"]}}</a></li>
            {% endfor %}
          </ul>
          <h4>詳細情報</h4>
          <p>ID: {{user_group_data["user_group_id"]}}</p>
            <form action="/admin/user_group/confirm" method="POST">
              <div class="row">
                <div class="col-sm-4">
                  <lable for="">グループ名</lable>
                </div>
                <div class="col-sm-8">
                  <div class="" style="margin-bottom: 15px">
                    <input type="text" name="user_group_name" value="{{user_group_data['user_group_name']}}">
                  </div>
                </div>
              </div>
              <div class="btn-wrapper update">
                <input class="btn btn-green" id="submit" type="submit" value="この情報に更新する">
              </div>
              <input type="hidden" name="_token" value="{{csrf_token}}">
              <input type="hidden" name="user_group_id" value="{{user_group_data['user_group_id']}}">
            </form>
          </div>
        </div>
      </article>
    </div>
  </article>
{% endblock %}
