{% extends "/layouts/base.twig" %}
{% block content %}
    {% include "/elements/header.twig" %}
    <hr>

    <!-- メインコンテンツ -->
    <article id="main-wrapper">
        <!-- Intro Header -->
        <div class="intro">
            <div id="canvas-container" class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <h2 id="fv">「ITの仕事」をカンタンに。</h2>
                            <!--Svg Animation-->
                            <svg id="fv-svg" viewBox="0 0 819.1 99.8">
                                <g>
                                    <path
                                        class="path"
                                        d="M73.9,33.7c-3.4,2.4-6.1,4.2-8.3,5.4c-4.2,2.4-8.3,3.7-12.4,3.7c-4.4,0-10.6-1.9-18.6-5.8c-3.9-1.8-7.5-2.8-10.8-2.8
                  		c-3.8,0-7.5,0.8-11.1,2.3s-7.8,4-12.7,7.4v-5.7c8.5-6,16.4-8.9,23.8-8.9c4.5,0,9.6,1.4,15.1,4.3s10.3,4.3,14.3,4.3
                  		c2.7,0,5.1-0.4,7.3-1.3c2.2-0.9,6.7-3.7,13.5-8.5L73.9,33.7L73.9,33.7z"/>
                                    <path
                                        class="path"
                                        d="M233.4,0.4L233,0.5l-1.1,0.3c-0.9,0.2-1.5,0.3-1.6,0.4c-0.8,0.4-1.3,0.7-1.8,0.9l-1.1,0.6L226,3.4l-1.5,1l-6.2,5.2
                  		c-1.9,1.8-3.7,3.6-5.4,5.5c-1.9,2.3-4.3,5.2-7,8.9c-1.8,2.4-3.1,4.3-4,5.7c-1.3,1.9-2.8,4.3-4.3,7.2l-3.6,6.9l-3.3,6.3l-0.3,0.9
                  		c-0.3,0.6-0.5,1.4-0.9,2.4c-0.6,1.8-1,3.1-1.1,3.9l-0.9,4.5c-0.2,1.4,0.1,2.6,0.9,3.6c0.8,1,1.8,1.4,3,1.4c1.1,0,2.1-0.2,3.1-0.6
                  		s2.3-1.3,4.1-2.6c1.1-0.8,2.3-1.9,3.5-3.1c1.3-1.2,2.7-2.7,4.3-4.5s2.8-3.3,3.5-4.5c0.4-0.6,0.9-1.1,1.4-1.5
                  		c0.1-0.1,0.2-0.2,0.3-0.3l0.4,0.4c-0.3,0.7-0.6,1.3-1,2l-3.6,4.8l-0.3,0.3c-2.5,3.4-5,6-7.4,8c-1.6,1.5-2.9,2.7-3.8,3.5
                  		c-0.9,0.8-1.8,1.4-2.5,1.8c-2.3,1.5-4.1,2.5-5.3,3s-2.5,0.6-3.8,0.4c-1.8,0-3.2-0.6-4.3-1.9s-1.7-3-1.7-5c0-2.3,0.2-4.5,0.7-6.4
                  		s1.5-4.8,3.1-8.5s3.7-7.6,6.2-11.5c2.8-4.5,6.4-9.4,10.7-14.7c1.3-1.6,2.3-2.9,3.1-3.9s2.5-2.8,5-5.4l7-6.7l0.6-0.8l2.4-2.3
                  		c-2.8,1.3-5.4,3-7.9,5s-5.7,4.8-9.5,8.5c-1.7,1.7-3.6,3.7-5.7,6c-2.8,3.2-5.1,5.8-6.8,7.9l-0.5,0.9l-7.8,10.3l-3.5,4.1l-6.6,7.8
                  		c-3.4,3.9-6,6.6-7.5,8.1c-1.6,1.5-3.8,3.1-6.5,4.8l-0.6,0.3l-3.1,2c-0.6,0.3-1.1,0.5-1.6,0.6c-0.2,0-0.3,0-0.5,0
                  		c-0.2-0.1-0.3-0.2-0.3-0.4v-0.3l1.5-1c1.7-1.1,3.1-2.7,4.4-4.8c1-1.6,2-3.5,3-5.8c0.6-1.3,1.4-3.8,2.5-7.5
                  		c1.1-3.6,2.2-7.3,3.3-10.9l1.9-7c0.6-2.4,1.8-5.8,3.6-10.1c0.6-1.3,1.2-2.5,1.8-3.6c0.6-1.2,1.4-2.5,2.3-3.9l3.8-5.3l0.5-1.5
                  		l-1.4,1.4L175,13c-0.7,0.7-1.4,1.6-2.3,2.6c-1.4,1.8-3.2,4-5.3,6.7l-7,9.3L152,42.9l-5,6.8l-2.9,3.8c-6,7.5-11.8,13.1-17.4,17
                  		c-5,3.5-9.9,5.6-14.5,6.3c-1.4,0.3-2.8,0.4-4.1,0.4c-5.2,0-9.3-1.5-12.4-4.5S91,65.8,91,61c0-0.5,0-1.1,0.1-1.8s0.1-1.2,0.1-1.5
                  		c0.4-2.5,1-4.8,1.8-7c0.8-2.1,2-4.5,3.7-7c1.4-2.5,3.4-5,5.8-7.4c3.6-3.6,7.3-6.4,11.1-8.3c3.8-1.9,7.6-3.1,11.4-3.4
                  		c3.7,0,6.6,0.9,8.9,2.8c2.2,1.9,3.3,4.4,3.3,7.7c0,0.8-0.1,1.7-0.3,2.6c-0.2,0.9-0.4,1.7-0.4,2.3c-0.2,0.5-0.4,1.1-0.8,1.8
                  		c-1.2,2.4-2.8,4.5-4.8,6.3c-1.3,1.1-2.5,1.9-3.4,2.5s-1.6,0.8-1.9,0.6c-0.2,0-0.3-0.2-0.3-0.6l1.6-1.3c0.8-0.7,1.3-1.2,1.5-1.4
                  		c0.4-0.4,0.9-1.1,1.4-2.1c0.6-0.6,1-1.3,1.3-2.2c0.3-0.8,0.6-1.7,0.9-2.8c0.3-1.1,0.4-2,0.4-2.7c0-2.5-0.8-4.6-2.3-6.3
                  		c-1.5-1.7-3.1-2.6-4.6-2.8c-1.5-0.2-2.8-0.3-3.9-0.3c-3.7,0-7.4,1.1-11.1,3.2c-3.7,2.1-6.9,5.2-9.5,9.2c-0.8,1.4-1.5,2.6-2,3.6
                  		s-0.9,2.3-1.4,3.8c-0.8,2.5-1.1,4.8-1.1,7c0,4.3,1.4,7.8,4.2,10.4c2.8,2.6,6.4,3.9,11,3.9c3.1,0,6.5-0.8,10.2-2.4s7.7-4.1,12-7.6
                  		c3-2.4,6.8-6.2,11.3-11.3l4.2-5l3-3.8l3.4-4l3.8-4.9l4-5.3l3-4l3.7-4.4c3.4-4.3,6.4-7.5,8.9-9.7s5.2-4,7.9-5.4l0.5-0.3l1.5-0.8
                  		l0.6-0.1h0.4l0.3,0.4L190,1.4l-0.3,0.4l-1.2,0.5l-1,0.8c-1.7,1.2-3,2.7-4.1,4.5s-2.3,4.9-3.7,9.2c-0.5,1.7-1,3.6-1.6,5.8
                  		s-1,3.8-1.2,4.7l-1.7,6.9l-0.7,2.8l-1.1,3.6c-2.2,6.9-5.1,13.2-8.8,19c2.7-2.7,4.8-4.7,6.2-6.3c1.4-1.5,3.8-4.4,7.1-8.5l6-7.6
                  		l2.8-3.6l2.3-2.7c7.1-8.1,13.4-14.4,18.9-18.9c5.1-4.1,10.3-7.4,15.6-9.7l1.3-0.4l2.4-0.9l3.6-1h1.8h1L233.4,0.4z"/>
                                    <path
                                        class="path"
                                        d="M256.8,52.5v0.6l-0.4,0.8l-0.5,0.5l-2.1,2.6l-0.4,0.6l-1.5,1.5l-1.9,2l-1.9,2l-1.1,1.4l-2.5,2.4c-1.3,1.2-2.3,2.1-3.2,2.9
                  		s-1.5,1.3-2,1.6c-2.8,2-5,3-6.6,3c-1.9,0.2-3.3-0.3-4.4-1.4c-1.1-1.1-1.6-2.6-1.6-4.6v-2.5l0.9-3l-1.9,1.9l-2.4,2.2l-1.9,1.9
                  		c-3.1,2.7-5.7,4.4-8,5.1c-0.9,0.2-1.8,0.4-2.6,0.4c-2.1,0-3.8-0.6-5-1.9c-1.3-1.3-1.9-3.1-1.9-5.5c0-4.2,1.3-8.2,3.9-12.2
                  		c3-4.6,7.7-9,14.1-13.2c2-1.3,4-2.3,6-3.3s3.6-1.5,4.9-1.7c1.3-0.2,2.1-0.3,2.6-0.3c2.2,0,3.8,0.5,5,1.5s1.6,2.2,1.4,3.6l3-4.5h8.4
                  		l-17.1,25.2l-1,1.8c-0.4,0.8-0.8,1.6-1.1,2.3c-0.3,0.7-0.4,1.5-0.4,2.3c0,1.7,0.8,2.6,2.3,2.8c0.5,0,1.6-0.5,3.4-1.4
                  		c0.6-0.3,1.2-0.8,1.9-1.4c0.2-0.1,0.9-0.8,2.1-2l2.5-2.5l2.8-2.9l0.5-0.5l1.3-1.4l2-2.3l2.6-3.5l0.8-1l0.6-0.3L256.8,52.5z
                  		 M239.3,42.7c0.1-0.3,0.1-0.8,0.1-1.5c0-2.4-1.2-3.5-3.7-3.5c-1.6,0-3.3,0.7-5.2,2.1c-1.9,1.4-4.7,4.1-8.5,8.3l-2,2.3l-1,1.1
                  		l-2.2,3.3c-0.8,1.1-1.7,2.3-2.6,3.7c-0.9,1.4-1.3,2.2-1.4,2.5c-0.7,1.3-1.1,2.5-1.4,3.5c-0.2,1-0.3,1.7-0.2,2.3
                  		c0.2,2.4,1.6,3.7,4,3.7c0.9,0,1.8-0.2,2.7-0.5s2-1.1,3.3-2.2s3.2-3,5.5-5.6l1.8-2c0.9-1.2,1.5-1.9,1.8-2.3c0.8-1.1,1.3-1.9,1.5-2.3
                  		l2.3-3.4l1.4-2c1.8-2.8,3-4.5,3.4-5.2C239.1,44,239.3,43.4,239.3,42.7z"/>
                                    <path
                                        class="path"
                                        d="M300.7,52.5V53l-0.4,0.5l-0.6,0.9l-2.1,2.6l-0.3,0.4c-3.7,4.5-6.6,7.8-8.7,9.9c-3.1,2.9-5.7,4.8-7.9,5.8
                  		c-2.2,1-4.1,1.4-5.9,1.2c-1.6-0.3-2.8-0.9-3.7-1.8c-0.9-1-1.3-2.1-1.3-3.5c0-0.4,0.1-1.1,0.4-2.1s0.6-1.8,1-2.4s1.8-2.5,4.2-5.8
                  		l1.1-1.6c0.8-1.7,1.4-3.3,1.6-4.9c0.5-2-0.5-2.9-3.1-2.5c-3,0.4-5.5,1.4-7.5,2.8c-0.9,0.7-1.7,1.4-2.4,2.2c-0.7,0.8-1.6,2-2.8,3.7
                  		l-10.2,15.2h-8.8L283.5,14c1-1.5,1.5-2.8,1.5-3.8c0-0.2,0-0.6,0-1.3h8.2c0.1,0.3,0.1,0.8,0.1,1.4c0,1.4-0.5,2.9-1.6,4.3l-23.8,35.8
                  		c1.9-0.6,3.4-1.2,4.7-1.8c1.3-0.6,3.1-1.9,5.6-3.7l1.6-1.1l4.1-3.2l2.9-1.9c1.1-0.8,2-1.3,2.6-1.6c0.2-0.2,0.9-0.4,1.9-0.8
                  		c1.5-0.3,2.5-0.5,2.9-0.6c0.7-0.1,1.2,0,1.7,0.1c1,0.3,1.3,0.9,1,2l-0.5,0.9c-1.3,2.3-2.4,3.5-3.4,3.5c-0.3,0-0.6-0.1-0.9-0.4
                  		l-0.5-0.9c-0.3-0.3-1-0.5-2.3-0.8c-0.8,0-1.5,0.2-2.1,0.5l-1.8,0.9l-1.1,0.4c-1.8,0.9-4.1,2.4-7.2,4.4l-2.5,1.9l-1.8,1.1
                  		c0.9-0.4,1.8-0.6,2.6-0.7c0.8-0.1,1.7-0.1,2.6-0.1c2.4,0,4.2,0.3,5.3,0.9s1.7,1.3,1.8,2.1c0.1,0.8,0.1,1.2,0.1,1.3
                  		c0,0.3,0,0.7,0.1,1c0,1.2-0.7,2.9-2,5.2c-1.8,2.8-3.4,5.4-4.8,7.7c-0.5,0.8-0.8,1.6-0.9,2.7c0,1.4,0.7,2.1,2,2.1
                  		c0.7,0,1.1,0,1.4-0.1s1.1-0.5,2.4-1.4c0.2-0.2,0.8-0.5,1.5-1.1c1.1-0.9,2-1.7,2.6-2.3l2.1-2l0.8-0.8l2.6-3l2.8-3l0.4-0.8
                  		c0.4-0.5,0.9-1,1.4-1.6s0.9-1.2,1.2-1.7c0.3-0.5,0.7-0.9,1.1-1.2l0.1-0.1C300.3,52.2,300.5,52.3,300.7,52.5z"/>
                                    <path
                                        class="path"
                                        d="M331.6,53.1v1L322,65l-2.2,2c-2.8,2.3-5.1,4-7.1,5c-1.9,1-4.2,1.8-6.8,2.3c-1,0.2-1.9,0.3-2.5,0.3c-0.5,0-1.6-0.1-3.3-0.3
                  		c-1.7-0.2-3.2-1.1-4.5-2.8c-1.3-1.6-2-3.7-2-6.1c0-1.1,0-1.9,0.1-2.5s0.4-1.5,0.9-2.6c1.2-2.8,3-5.7,5.3-8.7c2.4-3,5.3-5.7,8.7-8.1
                  		c3.4-2.5,6.5-4.2,9.2-5.2c3.4-1.3,6.2-1.9,8.2-1.9c0.5,0,1.6,0.1,3.1,0.4c1.6,0.3,2.4,1.4,2.4,3.3c0,1.2-0.4,2.4-1.3,3.8
                  		c-0.9,1.2-2.2,2.4-3.8,3.6c-2.1,1.6-4.7,3.2-7.9,4.8c-1.4,0.7-2.9,1.3-4.5,1.9c-1.6,0.6-3,1-4.2,1.4L305,57c-0.2,0.1-0.7,1.1-1.5,3
                  		c-1.1,2.3-1.7,3.9-1.9,4.6c-0.2,0.8-0.3,1.3-0.3,1.8c0,3.3,2.2,4.9,6.7,4.9c1.4,0,3-0.4,4.8-1.3c1.8-0.8,3.6-2,5.3-3.4l2.5-2.1
                  		l1.1-1.3l5.5-6.2l2.6-3.1l1-1.5l0.4,0.3v0.4H331.6z M326.4,42.4c0.2-0.3,0.3-0.7,0.4-1.2c0.1-0.4,0.1-0.8,0.1-1.1
                  		c0-1.2-0.4-1.9-1.1-2.1c-0.7-0.2-1.2-0.3-1.3-0.3c-0.8,0-1.6,0.2-2.2,0.5s-1.4,0.9-2.5,1.7c-1.6,1.3-2.9,2.5-3.9,3.4
                  		s-2.1,2-3.4,3.2c-1.8,1.7-3.5,3.9-5.3,6.5l-1.6,2.2l1.8-0.2c0.7-0.1,1.1-0.2,1.4-0.2c0.4-0.2,0.8-0.3,1.3-0.5
                  		c2.2-0.7,4-1.5,5.6-2.2s3.1-1.7,4.7-3c1.6-1.2,2.8-2.4,3.8-3.4C325.1,44.6,325.9,43.5,326.4,42.4z"/>
                                    <path
                                        class="path"
                                        d="M374.6,5.2l-0.3,0.3l-0.6,0.3c-1.5,1-2.7,2-3.6,2.9l-2.4,2.9l-0.3,0.8v0.5l0.3,0.3l0.4,0.4c0.8,0.7,1.1,1.6,1.1,2.8
                  		c0,1.1-0.3,2.2-0.9,3.4c-0.6,1.2-1.6,2.3-2.8,3.3c-0.9,0.7-2,1.1-3.1,1.3c-2.4,0-3.6-1.3-3.6-3.8c0-0.8,0.4-1.9,1.1-3.5
                  		c0.8-1.6,2.8-3.9,6.2-7.1l1.8-1.5l1-0.8l1.4-1.1l1.4-0.9l1.1-0.8h0.4l0.8-0.6h0.3h0.1h0.5l0.3,0.6L374.6,5.2z M388.2,5.2l-0.3,0.3
                  		l-0.6,0.3c-1.5,1-2.7,2-3.6,2.9l-2.4,2.9l-0.3,0.8v0.5l0.3,0.3l0.4,0.4c0.8,0.7,1.1,1.6,1.1,2.8c0,1.1-0.3,2.2-0.9,3.4
                  		c-0.6,1.2-1.6,2.3-2.8,3.3c-0.9,0.7-2,1.1-3.1,1.3c-2.4,0-3.6-1.3-3.6-3.8c0-0.8,0.4-1.9,1.1-3.5c0.8-1.6,2.8-3.9,6.2-7.1l1.8-1.5
                  		l1-0.8l1.4-1.1l1.4-0.9l1.1-0.8h0.4l0.8-0.6h0.3h0.1h0.5l0.3,0.6L388.2,5.2z"/>
                                    <path
                                        class="path"
                                        d="M419.6,92.1c0.6,1.3,1.6,2.2,3.3,2.6c1.6,0.5,4.2,0.7,7.7,0.7c0.3,0,0.4,0.3,0.4,0.8s-0.1,0.8-0.4,0.8c-2.8,0-5,0-6.7-0.1
                  		l-9.8-0.1l-9.4,0.1c-1.7,0.1-4,0.1-6.9,0.1c-0.3,0-0.4-0.3-0.4-0.8s0.1-0.8,0.4-0.8c3.5,0,6.1-0.2,7.7-0.7c1.6-0.5,2.7-1.4,3.3-2.7
                  		c0.6-1.3,0.9-3.4,0.9-6.2V21.6c0-2.8-0.3-4.8-0.9-6.1c-0.6-1.3-1.7-2.2-3.3-2.7c-1.6-0.5-4.2-0.8-7.7-0.8c-0.3,0-0.4-0.3-0.4-0.8
                  		c0-0.6,0.1-0.8,0.4-0.8l6.9,0.1c3.9,0.2,7,0.3,9.4,0.3c2.8,0,6.1-0.1,10-0.3l6.5-0.1c0.3,0,0.4,0.3,0.4,0.8c0,0.6-0.1,0.8-0.4,0.8
                  		c-3.4,0-6,0.3-7.6,0.8c-1.7,0.6-2.8,1.5-3.3,2.8c-0.6,1.3-0.8,3.4-0.8,6.2v63.9C418.8,88.7,419,90.8,419.6,92.1z"/>
                                    <path
                                        class="path"
                                        d="M450.3,17.3c-2.9,3-5,8-6.2,15.1c-0.1,0.2-0.4,0.3-0.9,0.3c-0.5,0-0.8-0.1-0.8-0.4c0.4-2.5,0.8-6.5,1.2-12.1
                  		c0.5-5.6,0.7-9.9,0.7-12.8c0-0.5,0.3-0.7,0.8-0.7s0.8,0.2,0.8,0.7c0,2,2.4,3,7.3,3c7.9,0.3,17.1,0.4,27.9,0.4
                  		c5.5,0,11.4-0.1,17.5-0.3l9.3-0.1c3.3,0,5.8-0.2,7.4-0.7c1.6-0.5,2.7-1.4,3.1-2.8c0.1-0.4,0.4-0.6,0.8-0.6c0.5,0,0.7,0.2,0.7,0.6
                  		c-0.3,2.6-0.6,6.6-0.8,12.1c-0.3,5.5-0.4,9.9-0.4,13.2c0,0.3-0.3,0.4-0.8,0.4c-0.5,0-0.8-0.1-0.9-0.4c-0.3-7.1-1.8-12.1-4.4-15
                  		c-2.7-2.9-7.1-4.4-13.3-4.4c-4.2,0-7.1,0.2-8.9,0.6c-1.8,0.4-3,1.2-3.6,2.4c-0.6,1.2-1,3.2-1,6.1v63.9c0,2.9,0.3,4.9,1,6.2
                  		c0.6,1.3,1.9,2.2,3.7,2.6c1.8,0.5,4.8,0.7,8.7,0.7c0.3,0,0.4,0.3,0.4,0.8s-0.1,0.8-0.4,0.8c-3.1,0-5.6,0-7.3-0.1l-10.8-0.1
                  		l-10.4,0.1c-1.8,0.1-4.4,0.1-7.6,0.1c-0.2,0-0.3-0.3-0.3-0.8s0.1-0.8,0.3-0.8c4,0,6.9-0.2,8.7-0.7c1.8-0.5,3.1-1.4,3.8-2.7
                  		c0.7-1.3,1-3.4,1-6.2V21.6c0-2.9-0.3-4.9-1-6c-0.6-1.2-1.8-1.9-3.6-2.2c-1.8-0.3-4.7-0.5-8.9-0.5C457.6,12.9,453.2,14.4,450.3,17.3
                  		z"/>
                                    <path
                                        class="path"
                                        d="M547.5,6.2c0,0.8-0.4,1.9-1.1,3.5c-0.8,1.6-2.8,3.9-6.2,7.1l-1.8,1.5l-1,0.8l-1.4,1.1l-1.4,0.9l-1.1,0.8h-0.4l-0.8,0.6H532
                  		h-0.1h-0.5l-0.3-0.6l0.1-0.3l0.3-0.4l0.8-0.4c1.5-1,2.7-2,3.6-2.9l2.4-2.9l0.3-0.8v-0.5l-0.3-0.3l-0.4-0.4
                  		c-0.8-0.5-1.1-1.4-1.1-2.8c0-1.1,0.3-2.2,0.9-3.4c0.6-1.2,1.6-2.3,2.8-3.3c0.9-0.7,2-1.1,3.1-1.3C546.3,2.4,547.5,3.7,547.5,6.2z
                  		 M561.1,6.2c0,0.8-0.4,1.9-1.1,3.5c-0.8,1.6-2.8,3.9-6.2,7.1l-1.8,1.5l-1,0.8l-1.4,1.1l-1.4,0.9l-1.1,0.8h-0.4l-0.8,0.6h-0.3h-0.1
                  		H545l-0.1-0.7l0.1-0.3l0.3-0.4l0.8-0.4c1.5-1,2.7-2,3.6-2.9l2.4-2.9l0.3-0.8v-0.5l-0.3-0.3l-0.4-0.4c-0.8-0.5-1.1-1.4-1.1-2.8
                  		c0-1.1,0.3-2.2,0.9-3.4c0.6-1.2,1.6-2.3,2.8-3.3c0.9-0.7,2-1.1,3.1-1.3C559.9,2.4,561.1,3.7,561.1,6.2z"/>
                                    <path
                                        class="path"
                                        d="M609.3,53.1v1L599.7,65l-2.2,2c-2.8,2.3-5.1,4-7.1,5c-1.9,1-4.2,1.8-6.8,2.3c-1,0.2-1.9,0.3-2.5,0.3
                  		c-0.5,0-1.6-0.1-3.3-0.3c-1.7-0.2-3.2-1.1-4.5-2.8c-1.3-1.6-2-3.7-2-6.1c0-1.1,0-1.9,0.1-2.5s0.4-1.5,0.9-2.6
                  		c1.2-2.8,3-5.7,5.3-8.7c2.4-3,5.3-5.7,8.7-8.1c3.4-2.5,6.5-4.2,9.2-5.2c3.4-1.3,6.2-1.9,8.2-1.9c0.5,0,1.6,0.1,3.1,0.4
                  		c1.6,0.3,2.4,1.4,2.4,3.3c0,1.2-0.4,2.4-1.3,3.8c-0.9,1.2-2.2,2.4-3.8,3.6c-2.1,1.6-4.7,3.2-7.9,4.8c-1.4,0.7-2.9,1.3-4.5,1.9
                  		c-1.6,0.6-3,1-4.2,1.4l-4.8,1.4c-0.2,0.1-0.7,1.1-1.5,3c-1.1,2.3-1.7,3.9-1.9,4.6c-0.2,0.8-0.3,1.3-0.3,1.8c0,3.3,2.2,4.9,6.7,4.9
                  		c1.4,0,3-0.4,4.8-1.3c1.8-0.8,3.6-2,5.3-3.4l2.5-2.1l1.1-1.3l5.5-6.2l2.6-3.1l1-1.5l0.4,0.3v0.4H609.3z M604.1,42.4
                  		c0.2-0.3,0.3-0.7,0.4-1.2c0.1-0.4,0.1-0.8,0.1-1.1c0-1.2-0.4-1.9-1.1-2.1c-0.7-0.2-1.2-0.3-1.3-0.3c-0.8,0-1.6,0.2-2.2,0.5
                  		c-0.6,0.3-1.4,0.9-2.5,1.7c-1.6,1.3-2.9,2.5-3.9,3.4s-2.1,2-3.4,3.2c-1.8,1.7-3.5,3.9-5.3,6.5l-1.6,2.2l1.8-0.2
                  		c0.7-0.1,1.1-0.2,1.4-0.2c0.4-0.2,0.8-0.3,1.3-0.5c2.2-0.7,4-1.5,5.6-2.2c1.5-0.7,3.1-1.7,4.7-3c1.6-1.2,2.8-2.4,3.8-3.4
                  		C602.8,44.6,603.5,43.5,604.1,42.4z"/>
                                    <path
                                        class="path"
                                        d="M655.8,52.5v0.6l-0.4,0.8l-0.5,0.5l-2.1,2.6l-0.4,0.6l-1.5,1.5l-1.9,2l-1.9,2l-1.1,1.4l-2.5,2.4c-1.3,1.2-2.3,2.1-3.2,2.9
                  		s-1.5,1.3-2,1.6c-2.8,2-5,3-6.6,3c-1.9,0.2-3.3-0.3-4.4-1.4c-1.1-1.1-1.6-2.6-1.6-4.6v-2.5l0.9-3l-1.9,1.9l-2.4,2.2l-1.9,1.9
                  		c-3.1,2.7-5.7,4.4-8,5.1c-0.9,0.2-1.8,0.4-2.6,0.4c-2.1,0-3.8-0.6-5-1.9c-1.3-1.3-1.9-3.1-1.9-5.5c0-4.2,1.3-8.2,3.9-12.2
                  		c3-4.6,7.7-9,14.1-13.2c2-1.3,4-2.3,6-3.3c2-0.9,3.6-1.5,4.9-1.7c1.3-0.2,2.1-0.3,2.6-0.3c2.2,0,3.8,0.5,5,1.5s1.6,2.2,1.4,3.6
                  		l3-4.5h8.4l-17.1,25.2l-1,1.8c-0.4,0.8-0.8,1.6-1.1,2.3c-0.3,0.7-0.4,1.5-0.4,2.3c0,1.7,0.8,2.6,2.3,2.8c0.5,0,1.6-0.5,3.4-1.4
                  		c0.6-0.3,1.2-0.8,1.9-1.4c0.2-0.1,0.9-0.8,2.1-2l2.5-2.5l2.8-2.9l0.5-0.5l1.3-1.4l2-2.3l2.6-3.5l0.8-1l0.6-0.3L655.8,52.5z
                  		 M638.3,42.7c0.1-0.3,0.1-0.8,0.1-1.5c0-2.4-1.2-3.5-3.7-3.5c-1.6,0-3.3,0.7-5.2,2.1c-1.9,1.4-4.7,4.1-8.5,8.3l-2,2.3l-1,1.1
                  		l-2.2,3.3c-0.8,1.1-1.7,2.3-2.6,3.7c-0.9,1.4-1.4,2.2-1.4,2.5c-0.7,1.3-1.1,2.5-1.4,3.5c-0.2,1-0.3,1.7-0.2,2.3
                  		c0.2,2.4,1.6,3.7,4,3.7c0.9,0,1.8-0.2,2.7-0.5s2-1.1,3.3-2.2s3.2-3,5.5-5.6l1.8-2c0.9-1.2,1.5-1.9,1.8-2.3c0.8-1.1,1.3-1.9,1.5-2.3
                  		l2.3-3.4l1.4-2c1.8-2.8,3-4.5,3.4-5.2C638.1,44,638.3,43.4,638.3,42.7z"/>
                                    <path
                                        class="path"
                                        d="M675.1,36l-0.3,1.7l-0.1,1.4v0.5l-0.5,8.6c0,3.5-0.2,6.4-0.7,8.7c-0.5,2.2-1.1,4.2-1.9,6c-3.9,7.6-9.9,11.4-18,11.4
                  		c-3.3,0-5.6-0.2-6.9-0.6c-1.3-0.4-2-1.2-2-2.3c0-0.5,0.3-1.2,0.8-2.1l0.4-0.6c0.5-0.7,1.1-1.2,1.8-1.6l0.6,0.4V68v1.3
                  		c-0.3,2.1,0.5,3.4,2.4,3.9c0.5,0.2,1.2,0.1,2.1-0.1c0.9-0.2,2.1-0.7,3.6-1.6c1.5-0.8,2.8-2.1,4-3.6c1.2-1.6,2.5-3.9,3.8-7
                  		c0.9-2.3,1.6-4.9,2-7.9s0.6-6.2,0.6-9.6c0-0.7-0.1-1.3-0.3-1.9c-0.2-0.6-0.4-1.3-0.6-2.3l-2.6,3.5l-1.3,1.7l-1.6,2.3l-0.9,1.5
                  		l-1.6,2l-0.4,0.8l-0.6,0.6l-1.1,1.5l-0.5,0.3l-0.4-0.3v-0.5v-0.4l0.5-0.9l0.3-0.4l0.3-0.4l1.1-1.5l1.1-1.5c1-1.3,1.6-2,1.7-2.1
                  		c0.4-0.6,0.8-1.2,1-1.9c1.4-2.1,2.9-4.2,4.5-6.4h2C670.2,37.1,672.8,36.7,675.1,36z"/>
                                    <path
                                        class="path"
                                        d="M722.1,37c0,1.3-0.2,2.5-0.6,3.4c-0.4,0.9-1.4,2.6-3.2,5.2L694,81.8l-2.4,3c-5.6,7-12.4,11.5-20.2,13.6
                  		c-3.3,0.9-6.2,1.4-8.8,1.4h-1.1h-1.4h-1.4c-2.5-0.4-4.4-1.1-5.7-2.2c-1.3-1-1.9-2.2-1.9-3.4c0-0.3,0.1-1,0.4-1.9
                  		c0.3-0.9,1-1.7,2.2-2.2c0.3-0.1,0.5-0.1,0.8-0.1s0.5,0,0.6,0c1.5,0,2.4,0.6,2.6,1.7v0.5v0.5l-0.6,0.8c-0.3,0.5-0.5,0.9-0.5,1.1
                  		c-0.4,1.7,0.6,3,3,3.8l1,0.4c0.3,0,0.9,0,1.6,0c1.5,0,3.5-0.4,6-1.2c2.5-0.8,5-2.2,7.4-4.3c2.4-2.1,5.3-5.2,8.5-9.5l2.3-3.1
                  		l0.3-0.5l12.1-17.8c-1.8,2.3-3.8,4.2-5.8,5.7c-0.8,0.7-1.8,1.4-2.8,2.2c-1,0.8-1.8,1.3-2.2,1.6c-3.2,1.8-5.5,2.6-7,2.6
                  		c-1.7,0-3.2-0.6-4.3-1.7s-1.7-2.6-1.7-4.4c0-0.7,0-1.2,0-1.5c0-0.9,0.3-1.9,0.8-2.9s1-1.9,1.3-2.6c0.4-0.8,0.9-1.7,1.6-2.8
                  		c0.7-1.1,1.5-2.4,2.6-3.8l7.2-11c1.4-2.2,2.3-3.6,2.6-4.2c0.3-0.6,0.4-1.4,0.2-2.4h9.1c0,1.2-0.3,2.2-0.8,3.1
                  		c-0.2,0.3-0.8,1.3-2,3.1l-8.5,12.7l-2.4,3.3l-0.6,1.4l-0.6,1l-1.3,2.9c-0.5,0.9-0.8,1.9-1,3c-0.2,0.9,0,1.6,0.6,2.1
                  		c0.5,0.5,1.3,0.7,2.3,0.5c1.2-0.3,2.1-0.5,2.8-0.9c0.7-0.3,1.9-1.2,3.6-2.5c1.3-0.8,3.2-2.7,5.8-5.7c0.9-1,1.8-2.1,2.8-3.2
                  		c0.4-0.5,0.8-1,1-1.5l8.3-12.2c0.8-1.2,1.5-2.3,2.1-3.3s0.9-1.9,1-2.4v-0.5v-1L722.1,37L722.1,37z"/>
                                    <path
                                        class="path"
                                        d="M819,33.7c-3.4,2.4-6.1,4.2-8.3,5.4c-4.2,2.4-8.3,3.7-12.4,3.7c-4.4,0-10.6-1.9-18.6-5.8c-3.9-1.8-7.5-2.8-10.8-2.8
                  		c-3.8,0-7.5,0.8-11.1,2.3s-7.8,4-12.7,7.4v-5.7c8.5-6,16.4-8.9,23.8-8.9c4.5,0,9.6,1.4,15.1,4.3s10.3,4.3,14.3,4.3
                  		c2.7,0,5.1-0.4,7.3-1.3c2.2-0.9,6.7-3.7,13.5-8.5L819,33.7L819,33.7z"/>
                                </g>
                            </svg>
                            <!--./Svg Animation-->
                        </div>
                    </div>
                    <!--./row-->
                    <div class="row">
                        <div class="col-md-12">
                            <!--Evolution-->
                            <div id="evolution_area">
                                <ul>
                                    <li><img src={{asset('/img/human_01.png')}} alt="進化1" pagespeed_url_hash="3325108893" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
                                    <li><img src={{asset('/img/human_02.png')}} alt="進化2" pagespeed_url_hash="3619608814" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
                                    <li><img src={{asset('/img/human_03.png')}} alt="進化3" pagespeed_url_hash="3914108735" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
                                    <li><img src={{asset('/img/human_04.png')}} alt="進化4" pagespeed_url_hash="4208608656" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
                                </ul>
                            </div>
                            <!--./Evolution-->
                        </div>
                    </div>
                </div>
                <!-- Wave -->
                <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
                    <defs>
                        <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
                    </g>
                </svg>
                <!-- ./Wave -->
            </div>
        </div>

        <!-- IBCとは -->
        <section id="product" class="cts">
            <div class="container">
                <hr class="style-hr">
                <div class="row">
                    <div class="col-md-12">
                        <h2>ITブートキャンプとは</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 grid-col">
                        <img class="img-responsive icon" src={{asset('/svg/top-icon_01.svg')}} alt="" pagespeed_url_hash="4138472735" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <h3>
                            <span>稼げるスキル習得</span>
                        </h3>
                        <p>ITブートキャンプのゴールは、卒業後に"稼げるようになること”です。そのため企業からのお仕事のニーズが高いスキルを厳選しております。また、プログラミングスキルだけでなく、卒業後も”自走”できる力も同時に身につけられる弊社独自のカリキュラムをご用意しております。</p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 grid-col">
                        <img class="img-responsive icon" src={{asset('/svg/top-icon_02.svg')}} alt="" pagespeed_url_hash="138005360" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <h3>
                            <span>選べる受講スタイル</span>
                        </h3>
                        <p>ITブートキャンプでは石垣校、島根校、東京校など各教室で「教室受講」していただくことができます。それだけでなく、全国各地どこにいても受講できる「オンライン受講」もご用意しております。ご自身のライフスタイルに合わせてカリキュラムを受講することが可能です。</p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 grid-col">
                        <img class="img-responsive icon" src={{asset('/svg/top-icon_03.svg')}} alt="" pagespeed_url_hash="432505281" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <h3>
                            <span>サポート期間１年間</span>
                        </h3>
                        <p>ITブートキャンプはカリキュラムを終わらせることがゴールではありません。プログラミングスキルを習得し、稼げるようになっていただくためのカリキュラムです。スキルがしっかり自分のものになるまでITブートキャンプは皆様を最後まで全力でサポートいたします。</p>
                    </div>

                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.IBCとは -->

        <!-- コース入口 -->
        <section id="entrance">
            <div class="no-gutter cf">

                <!--Online-->
                <div class="col-md-4 col-sm-4">
                    <a href="http://i-b-c.jp/homework/" class="hv-up">
                        <div class="img bg-granim-pink-rad">
                            <div class="entrance-circle entrance-circle__homework">
                                <div class="entrance-info">
                                    <h3>
                                        <small>オンライン学習</small><br>
                                        在宅</h3>
                                </div>
                            </div>
                            <img src={{asset('/img/top_homework.png')}} alt="" pagespeed_url_hash="3729780928" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                    </a>
                </div>
                <!--./Online-->

                <!--Freelance-->
                <div class="col-md-4 col-sm-4">
                    <a href="http://i-b-c.jp/freelance/" class="hv-up">
                        <div class="img bg-granim-green-rad">
                            <div class="entrance-circle entrance-circle__freelance">
                                <div class="entrance-info">
                                    <h3>農業と<br>×<br>フリーランス</h3>
                                </div>
                            </div>
                            <img src={{asset('/img/top_freelance.png')}} alt="" pagespeed_url_hash="1504949125" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                    </a>
                </div>
                <!--./Freelance-->

                <!--Recruit-->
                <div class="col-md-4 col-sm-4">
                    <a href="http://i-b-c.jp/recruit/" class="hv-up">
                        <div class="img bg-granim-blue-rad">
                            <div class="entrance-circle entrance-circle__recruit">
                                <div class="entrance-info">
                                    <h3>
                                        <small>20代限定</small><br>
                                        就職･転職</h3>
                                </div>
                            </div>
                            <img src={{asset('/img/top_recruit.png')}} alt="" pagespeed_url_hash="3432728968" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                    </a>
                </div>
                <!--./Recruit-->
            </div>
        </section>
        <!-- /.コース入口 -->

        <!-- 告知 -->
        <section id="notification">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="http://i-b-c.jp/christmas/">
                            <img src="http://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/christmas_banner.jpg" alt="クリスマスキャンペーン" class="img-responsive" pagespeed_url_hash="857901131" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="http://i-b-c.jp/ishigaki/">
                            <img src="http://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/ishigaki_banner.jpg" alt="さようなら、石垣島" class="img-responsive" pagespeed_url_hash="3112569960" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./告知 -->

        <section id="media" class="cts">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="cts-tit">メディア掲載</h2>
                    </div>
                    <div class="col-md-12">
                        <img src={{asset('/img/news.jpg')}} alt="メディア掲載" class="img-responsive" pagespeed_url_hash="1353023997" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                </div>

            </div>
            <hr>
          <!-- /.container -->
        </section>

    </article>
    <!-- ./メインコンテンツ -->
{% endblock %}
