{% extends "/layouts/base.twig" %}{% block content %}{% include "/elements/header.twig" %}
<!-- FV -->
<header id="canvas-container">
  <div class="parallax-picture  all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>ユーザー情報変更</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <!-- pタグ自動挿入制御 -->
    <article class="company_content">
      <div class="container two-column">
        <div class=row>

          <div class="col-sm-12 single-top"></div>
          <div class="col-sm-3">{% include "/elements/admin_left_column.twig" %}</div>
          <div class="col-sm-9 content">
            <div class="panel panel-default">
              <div class=panel-body>
                <h2>ユーザー編集</h2>
                <section>
                  <form action=/admin/user/confirm enctype=multipart/form-data method=POST>
                    <div class="row input-area">
                      <div class=col-sm-4>
                        <label for>ユーザー権限</label>
                      </div>
                      <div class=col-sm-8>
                        <div class=user_role style="margin-bottom: 15px;">
                          <select name="user_role">
                            <option value="4" {% if(user_profile_data.user_role == 4) %}selected{% endif %}>生徒</option>
                            <option value="3" {% if(user_profile_data.user_role == 3) %}selected{% endif %}>運営</option>
                            <option value="2" {% if(user_profile_data.user_role == 2) %}selected{% endif %}>管理者</option>
                            <option value="1" {% if(user_profile_data.user_role == 1) %}selected{% endif %}>所有者(デバッグ用？)</option>
                          </select>
                          <p class=small></p>
                        </div>
                      </div>
                    </div>
                    <div class="row input-area">
                      <div class=col-sm-4>
                        <label for>ユーザー画像</label>
                      </div>
                      <div class=col-sm-8>
                        <div class="avatar_upload clearfix">
                          <div class="avatar_content pull-left"><img src={% if(user_data.user_image != "no_image.png") %}'/uploads/profile/{{user_profile_data['user_image']}}'{% else %}{{ asset('img/ibc_logo.png') }}{% endif %} class=avatar width=100 height=100></div>
                          <div class="avatar_uploader clearfix"><input type=file name=user_image class=uploader id=upload_profile_image>
                            <p>※ 画像は2MB以内で<br>拡張子がjpeg(jpg)かpngの画像をご使用ください。</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row input-area">
                      <div class=col-sm-4>
                        <label for>ニックネーム</label>
                      </div>
                      <div class=col-sm-8>
                        <div class=user_name style="margin-bottom: 15px;"><input type=text name=user_name value="{{user_profile_data['user_name']}}"></div>
                        <p class=small>※ 現在、やり取りしているメッセージ等の名前は変更されません</p>
                      </div>
                    </div>
                    <div class="row input-area">
                      <div class=col-sm-4>
                        <label for>名前</label>
                      </div>
                      <div class=col-sm-8>
                        <div class=user_real_name style="margin-bottom: 15px;"><input type=text name=user_real_name value="{{user_profile_data['user_real_name']}}"></div>
                        <p class=small>※ サイトには表示されません</p>
                      </div>
                    </div>
                    <div class="row input-area">
                      <div class=col-sm-4>
                        <label for>メールアドレス</label>
                      </div>
                      <div class=col-sm-8><input type=text name=user_email value="{{user_profile_data['user_email']}}"></div>
                    </div>{#<div class="row input-area"><div class=col-sm-4><label for>誕生日</label></div><div class=col-sm-8><input type=text name=user_birthday value="{{user_profile_datap['user_birthday']}}"></div></div><div class="row input-area"><div
                    class=col-sm-4><label for>性別</label></div><div class=col-sm-8><input type=text name=user_gender value="{{user_profile_data['user_gender']}}"></div></div>#}
                    <div class="row input-area">
                      <div class=col-sm-4>
                        <label for>居住地</label>
                      </div>
                      <div class=col-sm-8>
                        <textarea name=user_address id cols=70 rows=3 placeholder=東京都>{{user_profile_data["user_address"]}}</textarea>
                      </div>
                    </div>
                    <div class="row input-area">
                      <div class=col-sm-4>
                        <label for>簡単な自己紹介</label>
                      </div>
                      <div class=col-sm-8>
                        <textarea name=user_pr_text id cols=70 rows=10>{{user_profile_data["user_pr_text"]}}</textarea>
                      </div>
                    </div>
                    <div class="btn-wrapper update text-center"><input class="btn btn-green" id=submit type=submit value=この情報に更新する></div><input type=hidden name=user_id value={{user_profile_data.user_id}}>
                    <input type=hidden name=_token value={{csrf_token}}>
                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</article>
{% endblock %}
