{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
<header id="canvas-container">
  <div class="parallax-picture  all-bg">
    <div class="top_pic">
      <article id="recommend-pic" class="parallax-pic_inner">
        <h1>ユーザー一覧</h1>
        <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
          </g>
        </svg>
      </article>
    </div>
  </div>
</header>
<!-- ./FV -->

<!-- 固定ページテンプレート -->
<article id="page-wrapper">
  <!-- Page Content -->
  <div class="container">
    <hr class="style-hr">
    <!-- pタグ自動挿入制御 -->
    <article class="company_content">
      <div class="row">
        <div class="col-sm-3">
          {% include "/elements/admin_left_column.twig" %}
        </div>
        <div class="col-sm-9">
          <div class="panel panel-default">
            <div class=panel-body>
              <h2>ユーザー一覧</h2><hr>
              {% if user_data_list | length < 1 %}
              <p>表示できるユーザーはいません．</p>
              {% else %}
              {% for user_data in user_data_list %}
              <a href="/admin/user/{{user_data['user_id']}}/">
                <div>
                  <h3>
                    {{user_data["user_name"]}} ( {{user_data["user_real_name"]}} )
                  </h3>
                </div>
              </a>
              <div>
                <a href="/admin/user/{{user_data['user_id']}}/"><img src={% if(user_data.user_image != "") %}'/uploads/profile/{{user_data.user_image}}'{% else %}{{ asset('img/ibc_logo.png') }}{% endif %} width=100 alt></a>
              </div>
              <p>ID:
                {{user_data["user_id"]}}
              </p>
              <p>権限:
                {% if(user_data["user_role"] == 4) %}生徒
                {% elseif(user_data["user_role"] == 3) %}<font color="red">運営</font>
                {% elseif(user_data["user_role"] == 2) %}<font color="red"><b>管理者</b></font>
                {% elseif(user_data["user_role"] == 1) %}<font color="#A00AA0"><b>所有者</b></font>
                {% else %}不明
                {% endif %}
              </p>
              <p>メールアドレス:
                {{user_data["user_email"]}}
              </p>
              <p>生年月日:
                {{user_data["user_birthday"] |date("Y年m月d日")}}
              </p>
              <p>所属ユーザーグループ:
                {% for user_group_data in user_group_data_list %}
                {% if user_group_data["user_group_id"] == user_data["user_user_group_id"] %}
                {{user_group_data["user_group_name"]}}
                {% endif %}
                {% endfor %}
              </p>
              <p>登録日:
                {{user_data["created_at"]}}
              </p>
              <p>最終ログイン:
                {{user_data["user_login_time"]}}
              </p>
              <br>
              <a href="/admin/user/{{user_data['user_id']}}/">詳細</a> / <a href="/admin/user/edit/{{user_data['user_id']}}/">編集</a>
              <hr>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</article>
{% endblock %}
